:root {
    --spacing-size: 0.5rem;
    --border-radius: 15px;
    --border-width: 2px;
    --gap-size: 1rem;

    --accent-color: #88aad6;

    /* Set colors for light theme */
    --text: #1e1e1e;
    --text-invalid: #b3b3b3;
    --link-hover: var(--accent-color);
    --background: #f6f6f6;
    --container-background: #f8f8f8;
    --container-border: #dddddd;
    --sidebar-background: #fcfcfc;
    --border-color: #c0c0c0;
    --button-border: #e1e1e1;
    --button-border-hover: #1e1e1e;
    --button-background: #f7f7f7;
    --button-active-background: #ffffff;
    --button-clicked-background: #fcfcfc;
    --scrollbar: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Set colors for dark theme */
        --text: #ffffff;
        --text-invalid: #a9a9a9;
        --link-hover: var(--accent-color);
        --background: #282828;
        --container-background: #2f2f2f;
        --container-border: #414141;
        --sidebar-background: #383838;
        --border-color: #565656;
        --button-border: #515151;
        --button-border-hover: #ffffff;
        --button-background: #333333;
        --button-active-background: #666666;
        --button-clicked-background: #888888;
        --scrollbar: var(--accent-color);
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    /* Prevent selecting text */
    user-select: none;
    /* Standard syntax */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */

    /* Other */
    cursor: default;
    /* Prevent I cursor on text */
    overflow: hidden;
    /* Prevent scroll on things that shouldn't scroll*/

    color: var(--text);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: var(--gap-size);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollbar);
    border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: var(--border-radius);
}

.container {
    padding: var(--gap-size);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;

    border: var(--border-width) solid var(--container-border);
    border-radius: var(--border-radius);
    background-color: var(--container-background);

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    cursor: pointer;
    color: var(--text);
}

a:hover {
    color: var(--link-hover);
}

img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

select {
    appearance: none;
}

select:invalid {
    color: var(--text-invalid);
}

input,
button,
select {
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--button-border);
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--text);
    background-color: var(--button-background);
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="date"],
button,
select {
    cursor: pointer;
}

input:hover,
select:hover,
button:hover {
    border-color: var(--accent-color);
}

button:active {
    background-color: var(--button-clicked-background);
}


li {
    text-align: left;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* Main */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* Splits screen vertically into two sections of size 1fr and 3fr */
#main {
    grid-template-areas:
        "top-bar"
        "main";
    grid-template-rows: auto 3fr;
    grid-template-columns: 1fr;
    display: grid;
}

/* ------------------------------------------------------------------------- */
/* top-bar */
/* ------------------------------------------------------------------------- */

#top-bar {
    grid-area: top-bar;

    border-bottom: var(--border-width) solid var(--border-color);

    grid-template-areas: "top-bar-logo top-bar-content";
    grid-template-rows: 1fr;
    grid-template-columns: auto 3fr;
    display: grid;
}

#top-bar-logo {
    grid-area: top-bar-logo;
    align-items: center;
}

#top-bar-logo>img {
    height: 3rem;
    margin-right: 0.5rem;
}

#top-bar-content {
    grid-area: top-bar-content;
}

/* Style the search box inside the navigation bar */
#top-bar-content form {
    width: 80%;
}

#top-bar-content input[type="text"] {
    width: 100%;
}

/* ------------------------------------------------------------------------- */
/* Content */
/* ------------------------------------------------------------------------- */

#content {
    grid-area: main;

    padding: var(--spacing-size);

    grid-template-areas: "content-sidebar gap1 main-content-left gap2 main-content-right";
    grid-template-rows: 1fr;
    grid-template-columns: auto calc(var(--gap-size) / 2) 2fr var(--gap-size) 1fr;
    display: grid;
}

/* ------------------------------------------------------------------------- */
/* Content Sidebar */
/* ------------------------------------------------------------------------- */

#content-sidebar {
    grid-area: content-sidebar;

    border-radius: 3px;
    background-color: var(--sidebar-background);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    padding: var(--spacing-size);

    height: fit-content;
}

/* ------------------------------------------------------------------------- */
/* Main Content Left */
/* ------------------------------------------------------------------------- */

#content-main-left {
    grid-area: main-content-left;
    height: 85vh;
    overflow: auto;
}

#content-main-left>h1 {
    text-align: center;
}

/* ------------------------------------------------------------------------- */
/* Recent Transactions */
/* ------------------------------------------------------------------------- */

#recent-transactions {
    border-collapse: collapse;
    border-bottom: var(--border-width) solid var(--border-color);
    width: 100%;
}

#recent-transactions th,
#recent-transactions td {
    text-align: center;
    padding: 10px;
    border-left: var(--border-width) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
}

/* First column has auto width */
/* #recent-transactions > thead th:first-child,
#recent-transactions > tbody > tr td:first-child {
	width: auto;
} */

/* ------------------------------------------------------------------------- */
/* Main Content Right */
/* ------------------------------------------------------------------------- */

#content-main-right {
    grid-area: main-content-right;

    height: fit-content;
}

#content-main-right>h1 {
    text-align: center;
}

#add-transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-transaction select,
#add-transaction input {
    width: 75%;
}

#add-transaction button {
    width: 50%;
}

/* ------------------------------------------------------------------------- */
/* Load file */
/* ------------------------------------------------------------------------- */

#load-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}